################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WorldCupMovies/.vs
/WorldCupMovies/WorldCupMovies.ApplicationService/obj
/WorldCupMovies/WorldCupMovies.DependencyInjection/obj
/WorldCupMovies/WorldCupMovies.Domain/obj
/WorldCupMovies/WorldCupMovies.Model/obj
/WorldCupMovies/WorldCupMovies.Tests/obj
/WorldCupMovies/WorldCupMovies.UserInterface/e2e
/WorldCupMovies/WorldCupMovies.UserInterface/README.md
/WorldCupMovies/WorldCupMovies.ApplicationService/bin/Debug/netcoreapp2.1
/WorldCupMovies/WorldCupMovies.CrossCutting/bin/Debug/netcoreapp2.1
/WorldCupMovies/WorldCupMovies.CrossCutting/obj
/WorldCupMovies/WorldCupMovies.DependencyInjection/bin/Debug/netcoreapp2.1
/WorldCupMovies/WorldCupMovies.Domain/bin/Debug/netcoreapp2.1
/WorldCupMovies/WorldCupMovies.Model/bin/Debug/netcoreapp2.1
/WorldCupMovies/WorldCupMovies.Tests/bin/Debug/netcoreapp2.1
/WorldCupMovies/WorldCupMovies.Services/bin/Debug/netcoreapp2.1
/WorldCupMovies/WorldCupMovies.Services/obj
